/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e0e0e0;
}
.btns{
 
 
  border: none;
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
  background-color: #212529;
  color: white;
  
}

.form{
  width: clamp(300px, 50%, 539px);
  margin: auto;
  

}
	
.btn{
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  box-shadow: -3px -3px 7px #ffffff73,
  2px 2px 5px rgba(94, 104, 121, 0.288);
}
.btn:hover, .btns:hover{
  background-position: .5em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

}
h1,h2,h3,h4{
  text-align: center;
  
}

.col-flex{
  justify-content: space-around;

}

