<div class="container-fluid center-div d-flex e-height text-center">


  <div class="nav">
  <a class="ms-2"routerLink="/home">Home</a>
  <a class="border" [routerLinkActive]="'text-info'"></a>
  <a class="me-2" [routerLinkActive]="col" routerLink="/UserLens">Explore Users</a>
  <a class="border"></a>
  <a class="ms-2"routerLink="/RepoLens" [routerLinkActive]="col">Explore Repositories</a>
  </div>
</div>

<app-hero> </app-hero>

<!-- <app-repo-search-form> </app-repo-search-form>
<app-user-search-form></app-user-search-form>
<app-results-page></app-results-page> -->